{% extends "base.html" %}

{% block title %}Edit Team{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-2">Edit Team</h1>

    <form id="edit-team-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Update</button>
    </form>
    {% if team.members %}
    <form id="pokemon-display" action="/teams/{{team.id}}/remove" method="POST">
        <h2>Current Pokemon: </h2>
        {% for member in team.members %}
        <div>
            <input type="radio" id="{{member.name}}" name="pokemon" value="{{loop.index - 1}}">
            <label for="{{member.name}}"><img src="{{member.image}}">{{member.name.capitalize()}}</label>
        </div>
        {% endfor %}
        <button class="btn btn-secondary" type="submit">Remove Pokemon</button>
    </form>
    {% endif %}

    <a href="/teams/{{team.id}}/search" class="btn btn-success">Add Pokemon!</a>
    <form action="/teams/{{team.id}}/delete" method="POST">
        <button class="btn btn-danger"><i class="fa-regular fa-trash-can"></i> Delete</button>
        <a href="/teams/{{team.id}}/show" class="btn btn-secondary">Cancel</a>
</div>

{% endblock %}