{% extends "base.html" %}

{% block title %}Create a Team!{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-2">Create a New Team!</h1>
    <p>Add your new Team's name and details about this team! We'll add Pokemon in the next step!</p>

    <form id="new-team-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}
        <div class="row row-cols-auto pt-1">

            <button class="btn btn-primary w-25 mx-auto" type="submit"><i class="fa-solid fa-plus"></i> Create
                Team!</button>
    </form>
    <a href="/" class="btn btn-secondary w-25 mx-auto"><i class="fa-solid fa-rotate-left"></i> Cancel</a>
</div>
</div>

{% endblock %}