{% extends "base.html" %}

{% block title %}{{team.name}}{% endblock %}

{% block content %}

<div class="container">
    <div>
        <ul id="rate-area" class="rate-area">
            <input type="radio" id="5-star" name="crating" value="5">
            <label for="5-star" title="Amazing">5 stars</label>
            <input type="radio" id="4-star" name="crating" value="4">
            <label for="4-star" title="Good">4 stars</label>
            <input type="radio" id="3-star" name="crating" value="3">
            <label for="3-star" title="Average">3 stars</label>
            <input type="radio" id="2-star" name="crating" value="2">
            <label for="2-star" title="Not Good">2 stars</label>
            <input type="radio" id="1-star" required="" name="crating" value="1" aria-required="true">
            <label for="1-star" title="Bad">1 star</label>
        </ul>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/teams/{{ team.id }}">
                <div class="message-area">

                    <a href="/teams/{{ team.id }}/show">{{ team.name }}</a>
                    {% for member in team.members %}
                    <img src="{{member.image}}">{{member.name}}</img>
                    {% endfor %}
                    <p>{{ team.details }}</p>
                    <span class="text-muted">by <a href="/users/{{ user.id }}">{{ user.username }}</a></span>
                </div>
        </li>
    </ul>
    {% if team.user_id == g.user.id %}
    <a href="/teams/{{team.id}}/edit" class="btn btn-secondary">Edit</a>
    {% endif %}
    <ul class="list-group">
        <h4>Comments</h4>
        {% for comment in comments %}
        <li class="list-group-item">
            <div class="message-area">
                <p>{{ comment.comment }}</p>
                <span class="text-muted">- <a href="/users/{{ comment.commenter_id }}">{{
                        comment.commenter.username}}</a></span>
            </div>
            {% if comment.commenter_id == g.user.id %}
            <a href="/comments/{{comment.id}}/edit" class="btn btn-outline-success btn-sm"> Edit</a>
            <form action="/comments/{{comment.id}}/delete" method="POST">
                <button class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Delete</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <form id="comment-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Add Comment</button>
    </form>
</div>

{% endblock %}