**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.md
**/*.pdf
**/*.py#
**/*.py~
**/*.pyc
**/bin
**/charts
**/compose*
**/csv
**/docker-compose*
**/Dockerfile*
**/docs
**/img
**/justfile
**/Makefile
**/node_modules
**/npm-debug.log
**/obj
**/Procfile
**/Tiltfile
