{% extends "base.html" %}

{% block title %}Search for Pokemon{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-3">Look up a Pokemon to add to your team!</h1>
    <p class="lead">Don't know where to start? Try searching for "Pikachu" or "Charizard"!</p>

    <form id="pokemon-search">
        <input id="autocomplete" type="text" placeholder="Search...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <h2>Pick a Pokemon:</h2>
    <div>
        <form id="pokemon-display" action="/teams/{{team.id}}/add" method="POST">
            <button class="btn btn-primary" type="submit">Add Pokemon!</button>
        </form>

    </div>
</div>

{% endblock %}