.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

/* Hover text for pokemon images. Based on https://code-boxx.com/text-over-image-hover-html-css/ */

/* (A) WRAPPER */
.hoverwrap {
    position: relative;
    max-width: 96px;
}

/* (B) RESPONSIVE IMAGE */
.hoverwrap img {
    width: 100%;
}

/* (C) CAPTION */
.hovercap {
    /* (C1) DIMENSIONS */
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    text-align: center;

    /* (C2) PLACE AT BOTTOM */
    position: absolute;
    bottom: 0;
    left: 0;

    /* (C3) COLORS */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* (D) SHOW/HIDE */
.hovercap {
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.hoverwrap:hover .hovercap {
    visibility: visible;
    opacity: 1;
}

/* Styles for autocomplete bar. Based on https://stackoverflow.com/questions/17838380/styling-jquery-ui-autocomplete */
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {

    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rate-area {
    float: left;
    border-style: none;
}

.rate-area:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked)>label {
    float: right;
    width: .80em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    line-height: 32px;
    color: lightgrey;
    margin-bottom: 10px !important;
}

/* Styles for rating. by Bhaskar Chaudhary */

.rate-area:not(:checked)>label:before {
    content: '★';
}

.rate-area>input:checked~label {
    color: #e8262d;
    text-shadow: none;
}

.rate-area:not(:checked)>label:hover,
.rate-area:not(:checked)>label:hover~label {
    color: #e8262d;

}

.rate-area>input:checked+label:hover,
.rate-area>input:checked+label:hover~label,
.rate-area>input:checked~label:hover,
.rate-area>input:checked~label:hover~label,
.rate-area>label:hover~input:checked~label {
    color: #e8262d;
    text-shadow: none;

}

.rate-area>label:active {
    position: relative;
    top: 0px;
    left: 0px;
}