{% extends "base.html" %}

{% block title %}Welcome to Pokemon Team Rater!{% endblock %}

{% block content %}

<div class="container">
    <a href="/teams/new">Create a new team!</a><br>
    <a href="/users/{{user.id}}">My Teams</a>
</div>
<div class="container">
    <ul class="list-group">

        {% for team in teams %}

        <li class="list-group-item">
            <a href="/teams/{{ team.id }}">
                <div class="message-area">

                    <a href="/teams/{{ team.id }}/show">{{ team.name }}</a>
                    {% for member in team.members %}
                    <img src="{{member.image}}">{{member.name}}</img>
                    {% endfor %}
                    <p>{{ team.details }}</p>
                    <span class="text-muted">by <a href="/users/{{ user.id }}">{{ user.username }}</a></span>
                </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% endblock %}