{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-2">Login</h1>
    <p class="lead">Don't have an account? <a href="/signup">Click here</a> to signup!</p>

    <form id="login-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>

{% endblock %}