{% extends "base.html" %}

{% block title %}{{user.username}}'s Teams{% endblock %}

{% block content %}

<div class="container">
    <ul class="list-group">

        {% for team in teams %}

        <li class="list-group-item">
            <a href="/teams/{{ team.id }}">
                <div class="message-area">

                    <a class="display-6" href="/teams/{{ team.id }}/show">{{ team.name }}</a><br>
                    {% for member in team.members %}
                    <img src="{{member.image}}" alt="{{member.name}}"></img>
                    {% endfor %}
                    <p>{{ team.details }}</p>
                    <span class="text-muted">by <a href="/users/{{ team.user_id }}">{{ team.user.username }}</a></span>
                </div>
        </li><br>

        {% endfor %}

    </ul>
</div>
</div>

{% endblock %}