{% extends "base.html" %}

{% block title %}{{user.username}}'s Teams{% endblock %}

{% block content %}

<div class="col-sm-6">
    <p>hello</p>
    <ul class="list-group">

        {% for team in teams %}

        <li class="list-group-item">
            <a href="/teams/{{ team.id }}">
                <div class="message-area">

                    <a href="/teams/{{ team.id }}/show">{{ team.name }}</a>
                    {% for member in team.members %}
                    <img src="{{member.image}}">{{member.name}}</img>
                    {% endfor %}
                    <p>{{ team.details }}</p>
                    <span class="text-muted">by <a href="/users/{{ user.id }}">{{ user.username }}</a></span>
                </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% endblock %}